<!-- <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let coin of coins">
    <td>{{coin.id}}</td>
    <td>{{coin.name}}</td>
  </tr> 
</table> -->


<table class="table table-hover">
    <thead>
      <tr>
        <th>EmpCode</th>
        <th>Name</th>
  <th>Email</th>
  <th>Designation</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$">
        <td>{{ user.empcode }}</td>
        <td>{{ user.name }}</td>
  <td>{{ user.email }}</td>
  <td>{{user.designation}}</td>
        
      </tr>
    </tbody>
  </table>